main{
    background: var(--bg-secondary);
    padding: 3rem;
    position: relative;
    
}

.feature{
    margin-bottom: 4rem;
}

.feature h2{
    color: var(--cl-accent);
    text-shadow: 1px 1px white;
}

.feature h3{
    text-shadow: 1px 1px rgb(22, 3, 3);
}

.feature:not(.wishlist) .content{
    position: relative;
    bottom: 2rem;

}



/* poznámka */  /* MDN vyhledavani */


@media screen and (min-width: 810px) {


    main{
        padding: 3rem;
    }
    .feature{
        display: flex;
        align-items: center;
        gap: 3vw;

        margin-bottom: 10rem;
        padding: 1rem 0;

        border-right: 0.5rem solid var(--cl-accent);
    }
    .feature:nth-child(even) {
        flex-direction: row-reverse;
        border-right: none;
        border-left: 0.75rem solid var(--cl-accent);
     }
     
    .feature figure{
        flex: 7;
    }

   .feature .content{
        flex: 3;
        position: static;
        padding:  0 2rem;

        
    }

 }