:root{

    --bg-secondary: rgb(255, 255, 255);

    --cl-accent: rgb(3, 2, 2);
}
/* proměnná se volá jako var() na jednoduchý přepis více proměnných.*/


*,
* ::before
* ::after{
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing : antialiased;
    -moz-osx-smoothing : grayscale;
    font-kerning: auto;
}
html{
    font-size: 100%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    position: absolute;

    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
    
}

header{
    font-size: clamp(1.5rem, 8vw, 2.5rem);
    
}

.menu{
    margin: 0;
    padding-left: 0;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
}


body{


    color : var(--cl-accent);
    font-family: Verdana, Geneva, Tahoma, sans-serif,cursive;
    background-color : black;
    margin: 0;

    @media screen and (min-width: 810px) {
        background-attachment: no repeat x;

        
    }

    
}
b,
strong{
    font-weight: bolder;
}
a{
    color : inherit;
    background-color: transparent;
}

img{
    border-style: none;
    max-width: 100%;
    height: auto;
}
h1,h2,h3 {margin: 0;}

h2{
    font-size: clamp(1.5rem, 12vw, 3rem);
}

h3{
    font-size: clamp(1.5rem, 8vw, 2rem);
}

p{
    font-size: clamp(0.75rem, 5vw, 1.35rem);
    font-family: Verdana, Tahoma, sans-serif;
    font-family: 2vw;
}
form{
    font-size: clamp(1.5rem, 8vw, 2.15rem);
    margin-top: 3rem;
    

}

figure{
    margin : 0;
}

.container{
    padding: 0 1.5;
    max-width: 2550px;
    margin: 0 auto;

}